{
    "semi": true,
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "vueIndentScriptAndStyle": true
}
